@model List<Message>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Welcome to Message View </h1>
@foreach (Message message in Model)
{
    @if (message.UserId == User.Identity.Name)
    {

        <h3>@message.UserId</h3>
        <h3> @message.Message1</h3>
        <h3> @message.PostedTime </h3>


    }

    @if (message.Updated == true)
    {
        <p>Edited</p>
    }

    @if (User.Identity.Name == message.UserId)
    {
        <a asp-action="EditDelete" asp-route-id="@message.Id">Edit</a>
        <a asp-action="EditDelete" asp-route-id="@message.Id">Delete</a>
    }

    

}
<form method="post" asp-action="Message">
    <input name="message" placeholder=" Add a New message" />
    <button type="submit">Add</button>
</form>



